<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: :title %>
  </div>

  <div class="field">
    <%= f.text_field :link, placeholder: :link %>
  </div>

  <div class="field">
    <%= f.text_area :comment, placeholder: :comment %>
  </div>

  <div class="field">
    <%= f.text_field :parent_id, value: note.parent ? note.parent.id : params["parent_id"], placeholder: :parent %>
  </div>

  <div class="field">
    <%= f.text_field :tag_list, value: note.tags.reverse.join(", "), placeholder: :tags %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
