<div class="note<%= root ? " root" : "" %>" id="note-<%= note.id %>">
  <% if note.has_link? %>
      <%= link_to(note.short_title(10), note.link) %>
  <% else %>
    <strong class="title">
      <%= note.title %>
    </strong>
  <% end %>
  <%= link_to 'View', edit_note_path(note), class: :action %> |
  <% unless note.has_link? %>
    <%= link_to 'Add Child', new_note_path(parent_id: note.id), class: :action %> |
    <%= form_for(Note.new(parent: note), html: { class: "inline" }) do |f| %>
      <%= f.text_field :link, placeholder: "Child Link", class: "inline" %>
      <%= f.hidden_field :parent_id, value: note.id %>
    <% end %> |
  <% end %>
  <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, class: :action %> |
  <span class="age">
    <%= compact_age(note.created_at) %>
  </span>
  <span class="tags">
    <% note.tags.take(8).each_with_index do |t, i| %>
      <span class="tag" style="background-color: #<%= color_for_string(t.to_s) %>"><%= t %></span>
    <% end%>
  </span>

  <% note.children.each do |note| %>
    <%= render 'show', note: note, root: false %>
  <% end %>
</div>
