<div class="note" id="note-<%= note.id %>">
  <%= note.has_link? ? link_to(note.title, note.link) : note.title %> |
  <%= link_to 'View', edit_note_path(note) %> |
  <% unless note.has_link? %>
    <%= link_to 'Add Child', new_note_path(parent_id: note.id) %> |
    <%= form_for(Note.new(parent: note), html: { class: "inline" }) do |f| %>
      <%= f.text_field :link, placeholder: "Child Link", class: "inline" %>
      <%= f.hidden_field :parent_id, value: note.id %>
    <% end %> |
  <% end %>
  <%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <span class="age">
    <%= compact_age(note.created_at) %>
  </span>

  <div>
    <span class="tags">
      <% note.tags.each_with_index do |t, i| %>
        <span class="tag" style="background-color: #<%= color_for_string(t.to_s) %>"><%= t %></span>
      <% end%>
    </span>
  </div>

  <% note.children.each do |note| %>
    <%= render 'show', note: note %>
  <% end %>
</div>
