<h1>Note</h1>

<p>
  <% if @note.parent %>
    Parent:
    <%= link_to @note.parent.title, note_path(@note.parent) %>
  <% else %>
    <%= link_to "Index", root_path %>
  <% end %>
</p>

<%= render 'form', note: @note %>

<br/>

<%= button_to 'Delete', @note, method: :delete, data: { confirm: 'Are you sure?' } %>

<br/>

<%= link_to 'Add Child', new_note_path(parent_id: @note.id) %>

<br/><br/>

<% @note.children.each do |note| %>
  <%= render "show", note: note, root: @note.root? %>
<% end %>
