<p id="notice"><%= notice %></p>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query %>
<% end %>

<%= link_to 'New Root', new_note_path %>
<br/>

<ul>
  <% @notes.each do |note| %>
    <li>
      <%= link_to note.title, note_path(note) %>
      <% unless note.has_link? %>
        <%= form_for(Note.new(parent: note), html: { class: "inline" }) do |f| %>
          <%= f.text_field :link, placeholder: "Child", class: "inline" %>
          <%= f.hidden_field :parent_id, value: note.id %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
