<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @note.link %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @note.comment %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @note.parent %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @note.tags.reverse.join(", ") %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
